/* Fundo desfocado */
.bg-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(90deg, rgb(70, 2, 2), black, rgb(102, 1, 1));
  filter: blur(80px);
  transform: scale(2.2);
}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;   /* impede scroll lateral */
  overflow-y: hidden;   /* impede scroll vertical */
  height: 100%;
}
/* Conteúdo */
.content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  height: 100vh;
}
 h1 {
    text-align: center;
    font-size: 50px;
 }
 h2 {
    text-align: center;
}
.bm {
  font-size: 30px;
  color: white
}
.bm:hover {
  color: rgb(55, 0, 255)
}

.amg {
  height: 20vh;
  left: -500px;
}

.amg:hover {
  filter: sepia(100%);

}