/* Fundo desfocado com degrade */
.bg-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(90deg, rgb(2, 3, 70), black, rgb(1, 1, 102));
  filter: blur(80px);  /* Aumente ou diminua o blur */
  transform: scale(2.2); /* Evita bordas duras após o blur */
}

/* Conteúdo normal */
.content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
}

table {
    width: 50%; /* Define a largura da tabela */
  border-collapse: collapse; /* Recolhe as bordas */
  width: 50%; 
  margin-left: auto;
  margin-right: auto;
}

th, td {
  
  border: 1px solid #ccc; /* Adiciona uma borda a todas as células */
  padding: 10px; /* Adiciona espaçamento interno */
  text-align: left; /* Alinha o texto à esquerda */
}

th {
    color: black;
  background-color: #f2f2f2; /* Cor de fundo para o cabeçalho */
}